body {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

p {
	color: #afafaf;
}

/*Headings*/

.section-heading{
	font-size: 3rem;
	line-height: 1.5;
}

.big-heading{
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	line-height: 1.5;
}

/*Title Section*/

#title {
	background-color: #ff4c68;
	color: white;
	text-align: left;
}

.container-fluid {
	padding: 7% 15%;
}

#title .container-fluid{
	padding: 3% 15% 7%;
}

.navbar {
	padding-bottom: 4.5rem;
}

.navbar-brand {
	font-size: 2.5rem;
	font-weight: bold;
}

.nav-item {
	padding: 0 18px;
}

.nav-link {
	font-size: 1.2rem;
	font-family: 'Ubuntu', sans-serif;
}

.download-btn {
	margin: 5% 3% 5% 0;
}

.title-img {
	width: 60%;
	transform: rotate(25deg);
	position: absolute;
	right: 25%;
}

.img-column {
	position: relative;
}

/*Features Section*/

#features {
	background-color: white;
	position: relative;

}

.icon {
	font-size: 3rem;
	padding-bottom: 5%;
	color: #ef8172;
}

.icon:hover {
	color: #ff4c68;
}

.feature-title{
	font-size:1.5rem;
}

/*Testimonials Section*/

#testimonials {
	background: #ef8172;
	color: #fff;
}

.testimonial-img {
	width: 10%;
	/*makes the img smaller by 10%*/
	border-radius: 90%;
	margin: 20px;
}

.testimonial-text{
	font-size: 3rem;
	line-height: 1.5
}

/*Press Section*/

#press {
	background: #ef8172;
	padding-bottom: 3%;
}

.press-logo {
	width: 15%;
	margin: 20px 20px 50px;
}

/*Pricing Section*/

#pricing {
	padding: 80px;
}

.pricing-column {
	padding: 3% 2%;
}

.card{
	min-height: 400px;
}

.button{
	position:absolute;
	bottom:10px;
	left:10px;
	right:10px;
}

.price-text{
	font-size:3rem;
	line-height: 1.5;
}

/*Call to action*/
#cta {
	background-color: #ff4c68;
	color: #fff;
}

#cta h3 {
	font-size: 3rem;
	line-height: 1.5;
}

/*Footer*/

#footer i{
	padding: 10px;
}


/*Media queries*/
@media (max-width:992px) {
	#title {
		text-align: center;
	}

	.title-img {
		position: static;
		transform: rotate(0);
		text-align: center;
	}
}
